$background: #1a2b34;
$empty-element: #334651;
$blue: #56b3b4;
$red: #ea5e5e;
$yellow: #f7ba3e;
$purple: #bf85bf;
$unit: 5px;
$delay: 200ms;

:root {
  --background: #{$background};
  --empty-element: #{$empty-element};
  --blue: #{$blue};
  --red: #{$red};
  --yellow: #{$yellow};
  --purple: #{$purple};
  --unit: #{$unit};
  --delay: #{$delay};
}

body {
  background-color: var(--background);
  overflow: hidden;
}
.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 5rem auto;
  width: 1000px;
}
.row {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.element {
  background-color: var(--empty-element);
  width: var(--unit);
  height: 10px;
  border-radius: 99vh;
}

.row:nth-of-type(2n) {
  animation: slide 1s;
  animation-fill-mode: both;
}
.row:nth-of-type(2n-1) {
  animation: slide-rewerse 1s;
  animation-fill-mode: both;
}
.row:nth-of-type(1) {
  animation-delay: calc(var(--delay) * 1);
}
.row:nth-of-type(2) {
  animation-delay: calc(var(--delay) * 2);
}
.row:nth-of-type(3) {
  animation-delay: calc(var(--delay) * 3);
}
.row:nth-of-type(4) {
  animation-delay: calc(var(--delay) * 4);
}
.row:nth-of-type(5) {
  animation-delay: calc(var(--delay) * 5);
}
.row:nth-of-type(6) {
  animation-delay: calc(var(--delay) * 6);
}
.row:nth-of-type(7) {
  animation-delay: calc(var(--delay) * 7);
}
.row:nth-of-type(8) {
  animation-delay: calc(var(--delay) * 8);
}
.row:nth-of-type(9) {
  animation-delay: calc(var(--delay) * 9);
}
.row:nth-of-type(10) {
  animation-delay: calc(var(--delay) * 10);
}
.row:nth-of-type(11) {
  animation-delay: calc(var(--delay) * 11);
}
.row:nth-of-type(12) {
  animation-delay: calc(var(--delay) * 12);
}
.row:nth-of-type(13) {
  animation-delay: calc(var(--delay) * 13);
}

@keyframes slide {
  0% {
    translate: 100%;
  }
  100% {
    translate: 0%;
  }
}
@keyframes slide-rewerse {
  0% {
    translate: -100%;
  }
  100% {
    translate: 0%;
  }

  // Variables
}
.blue {
  background-color: var(--blue);
}
.red {
  background-color: var(--red);
}
.yellow {
  background-color: var(--yellow);
}
.purple {
  background-color: var(--purple);
}
.unit-1 {
  width: calc(var(--unit));
}
.unit-2 {
  width: calc(var(--unit) * 2);
}
.unit-3 {
  width: calc(var(--unit) * 3);
}
.unit-4 {
  width: calc(var(--unit) * 4);
}
.unit-5 {
  width: calc(var(--unit) * 5);
}
.unit-6 {
  width: calc(var(--unit) * 6);
}
.unit-7 {
  width: calc(var(--unit) * 7);
}
.unit-8 {
  width: calc(var(--unit) * 8);
}
.unit-9 {
  width: calc(var(--unit) * 9);
}
.unit-10 {
  width: calc(var(--unit) * 10);
}
.unit-11 {
  width: calc(var(--unit) * 11);
}
.unit-12 {
  width: calc(var(--unit) * 12);
}
.unit-13 {
  width: calc(var(--unit) * 13);
}

.unit-14 {
  width: calc(var(--unit) * 14);
}

.unit-15 {
  width: calc(var(--unit) * 15);
}

.unit-16 {
  width: calc(var(--unit) * 16);
}

.unit-17 {
  width: calc(var(--unit) * 17);
}

.unit-18 {
  width: calc(var(--unit) * 18);
}

.unit-19 {
  width: calc(var(--unit) * 19);
}

.unit-20 {
  width: calc(var(--unit) * 20);
}
.unit-22 {
  width: calc(var(--unit) * 22);
}
.unit-24 {
  width: calc(var(--unit) * 24);
}
.unit-26 {
  width: calc(var(--unit) * 26);
}
.unit-28 {
  width: calc(var(--unit) * 28);
}
.unit-30 {
  width: calc(var(--unit) * 30);
}
.unit-39 {
  width: calc(var(--unit) * 39);
}
